
@{
    ViewBag.Title = "Index";
}



<div class="list-group">
    <a href="#" class="list-group-item active">
        Manual de Usuario
    </a>
    <a href="uv" class="list-group-item">Modulo Unidad de Verificación</a>



</div>

<a href="/home/index" class="btn btn-danger">Regresar</a>