
@{
    ViewBag.Title = "uv";
}


<div class="list-group">
    <a href="#" class="list-group-item active">
       Manual de usuario ->  Modulo Unidad de Verificación
    </a>
    <a href="~/video/modulo_uv.pdf" target="_blank" class="list-group-item">Descargar PDF</a>
    <a href="~/video/presentacion.ppsx" target="_blank" class="list-group-item">Descargar Presentación</a>
    <a href="uv" class="list-group-item">Inicio de sesión y entorno</a>
    <video width="320" height="240" controls class="list-group-item">
        <source src="~/video/login-entorno.m4v" type="video/mp4">
    
    </video>

    <a href="uv" class="list-group-item">Informe DBR</a>
    <video width="320" height="240" controls class="list-group-item">
        <source src="~/video/informe_dbr.m4v" type="video/mp4">
    </video>

    <a href="uv" class="list-group-item">Conciliación de Movimiento de efectivo</a>
    <video width="320" height="240" controls class="list-group-item">
        <source src="~/video/movimiento_efectivo.m4v" type="video/mp4">
    </video>
    <a href="uv" class="list-group-item">Conciliación de Tarjeta de Credito</a>
    <video width="320" height="240" controls class="list-group-item">
        <source src="~/video/movimiento_tc.m4v" type="video/mp4">
    </video>


</div>
<a href="index" class="btn btn-danger">Regresar</a>
