@model List<Entidades.eEmpleado>
@{
    ViewBag.Title = "empleados";
}
<br />
<br />
<h3>Mantenimiento Tipo de Baja de Empleados</h3>

<div class="table table-striped tablecontainer">

    <table id="tablatipo">
        <thead class="bg-info">
            <tr>
                <th>Cod.</th>
                <th>Descripcion</th>
                <th>Recontratacion</th>
                <th></th>
                <th></th>                
            </tr>
        </thead>
    </table>
    <hr />
    @Html.ActionLink("Salir", "index", "home", "", new { @class = "btn btn-danger" })
    @Html.ActionLink("Agregar Tipo de Baja", "nuevo", "tipobaja", "", new { @class = "popup btn btn-primary" })
</div>


<style>
    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .center {
        text-align: center;
    }
</style>







@section scripts
{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()

            var oTable = $('#tablatipo').DataTable(
                {
                    "searching": false,
                    "paging": false,
                    language: {
                        decimal: ",",
                        processing: "Procesando...",
                        search: "Buscar:",
                        lengthMenu: "",
                        info: "",
                        infoEmpty: "",
                        infoFiltered: "",
                        infoPostFix: "",
                        loadingRecords: "",
                        zeroRecords: "",
                        emptyTable: "",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Ultimo"
                        },
                        aria: {
                            sortAscending: ": activer pour trier la colonne par ordre croissant",
                            sortDescending: ": activer pour trier la colonne par ordre décroissant"
                        }
                    },
                    "ajax": {
                        "url": '/tipobaja/getAllTipoBaja',
                        "type": "get",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "codigo", width: 50 },
                        
                        { "data": "descripcion", Width:700 },
                        { "data": "recontratacion", Width: 10 },
                         /*
                        {
                            "data": "codigo", "width": "10", "render": function (data, type, full) {
                                return '<a class="popup" data-toggle="tooltip" data-placement="top" title="Editar Empleado"  href="/tipobaja/editar/1?codigo=' + full.codigo + ' "> <span class="glyphicon glyphicon-pencil"></span></a>';
                            }
                        }    
                        */
                         {
                            "data": "codigo", "width": "10", "render": function (data, type, full) {
                                return '<a class="popup" data-toggle="tooltip" data-placement="top" title="Eliminar Empleado"  href="/tipobaja/eliminar/1?codigo=' + full.codigo + ' "> <span class="glyphicon glyphicon-trash"></span></a>';
                            }
                        }
                       
                    ]
                })
            // -- Eventos Clicks
            // -- Boton con Vista Parcial
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })

            // -- Boton sin Vista
            $('.tablecontainer').on('click', 'a.popup1', function (e) {
                e.preventDefault();
                var url = $(this).attr('href')
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function (data) {
                        if (data.status) {

                            oTable.ajax.reload();

                        }
                    }
                })
            })

            // --Popup
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                });
                // -- Abrir Dialogo
                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog(
                    {
                        draggable: true,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: '',
                        height: 'auto',
                        width: 800,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })
                // -- Enviar Formulario
                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (Data) {
                            if (Data.retorno >= 1) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();

                                alert("Operacion exitosa ");
                            }
                            else {
                                alert(Data.mensaje);
                            }
                        }
                    })
                    e.preventDefault();
                })
                $dialog.dialog('open');
            }

            // Get a list of Empresas and a list of products of the first Empresa.
            $.getJSON('/tipobaja/getalltipobaja', null, function (data) {
                $.each(data, function () {
                    $('#codTipoBaja').append('<option value=' +
                        this.codigo + '>' + this.descripcion + '</option>');                  
                });
          
                    // fin de obtener cuentas bancos
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error al obtener el tipo de baja');
                });
        });

    </script>
}